logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

admin
dist
dist-ssr
node_modules
coverage
*.local

/cypress/videos/
/cypress/screenshots/

.husky
.vscode
.DS_Store
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo

yarn.lock
pnpm-lock.yaml
package-lock.json
