// yyladmin css

.ya-padding-left {
  padding-left: 10px;
}

.ya-margin-top {
  margin-top: 10px;
}

.ya-margin-right {
  margin-right: 10px;
}

.ya-margin-bottom {
  margin-bottom: 10px;
}

.ya-margin-left {
  margin-left: 10px;
}

.ya-search-field {
  width: 7%;
  min-width: 110px;
  max-width: 120px;
}

.ya-search-exp {
  width: 7%;
  min-width: 110px;
  max-width: 120px;
}

.ya-search-value {
  width: 200px !important;
}

.ya-date-field {
  width: 110px !important;
}

.ya-date-value {
  width: 216px !important;
}

.ya-select-field {
  width: 150px !important;
}
