// yyladmin styles

.ya-center {
  text-align: center;
}

.ya-padding-left {
  padding-left: 10px;
}

.ya-margin-top {
  margin-top: 10px;
}

.ya-margin-right {
  margin-right: 10px;
}

.ya-margin-bottom {
  margin-bottom: 10px;
}

.ya-margin-left {
  margin-left: 10px;
}

.ya-width-150 {
  width: 150px;
}

.ya-width-90p {
  width: 90%;
}

.ya-width-100p {
  width: 100%;
}

.ya-height-100 {
  height: 100px;
}

.ya-img-table {
  height: 20px;
}

.ya-img-table img {
  width: auto;
  height: 20px;
}

.ya-img-form {
  width: 100%;
  height: 100px;
}

.ya-img-form img {
  width: auto;
  height: 100px;
}

.ya-search-field {
  width: 7%;
  min-width: 86px;
  max-width: 102px;
}

.ya-search-exp {
  width: 7%;
  min-width: 86px;
  max-width: 102px;
}

.ya-search-value {
  width: 20% !important;
  min-width: 150px;
}

.ya-date-field {
  width: 102px;
}

.ya-date-value {
  width: 230px !important;
}
